<div class="signIn">
    <span id="emailAddress">Email Address</span>
    <input type="text" id="txtemailAddress" />
    <input type="checkbox" id="chkIsUser" value="EazyWizy User" />
    <div class="userSignIn non-user">
        <span id="password">Password</span>
        <input type="text" id="txtPassWord" />
        <input type="button" id="btnContinue" value="Continue" />
    </div>
    <div class="newuser-register">
        <div>
            <input type="text" id="txtnewPassword" />
            
        </div>
    </div>
</div>
