<section id="wrapper" class="wrapper">

    <h1 class="title">Checkout</h1>

    <div id="v-nav">

        <ul>
            <li tab="tab1" class="first current">Credit/Debit Card</li>
            <li tab="tab2">Net Banking</li>
            <li tab="tab3">Cash On Delivery</li>
            <li tab="tab4" class="last">EazyWizy Coupons</li>
        </ul>

        <div class="tab-content">
            <h4>Tab 1</h4>
        </div>

        <div class="tab-content">
            <h4>Tab2</h4>
        </div>

        <div class="tab-content">
            <h4>Tab3</h4>
        </div>

        <div class="tab-content">
            <h4>Tab4</h4>
        </div>

    </div>

</section>
