<div id="divCategories" style="background-color:white;width:215px;">
     <ul>
        <li><a href="#tabs-1">Oil</a></li>
        <li><a href="#tabs-2">Rice</a></li>
        <li><a href="#tabs-3">Atta</a></li>
        <li><a href="#tabs-4">Atta</a></li>
        <li><a href="#tabs-5">Oil</a></li>
        <li><a href="#tabs-6">Rice</a></li>
        <li><a href="#tabs-8">Atta</a></li>
        <li><a href="#tabs-10">Atta</a></li>
        <li><a href="#tabs-11">Oil</a></li>
        <li><a href="#tabs-12">Rice</a></li>
        <li><a href="#tabs-13">Atta</a></li>
        <li><a href="#tabs-14">Atta</a></li>
     </ul> 
</div>