<div id="divAllContents" style="width:215px;">
     <div class="div-TopUp"></div>     
     <div  style="background-color:white">
         <ul class="li-style" id="ulLHS">             
            <li  onclick="addFilterDiv(this);">Categories<img src="~/Content/Images/rightarrow.png" /></li>
            <li onclick="addFilterDiv(this);">Brand<img src="~/Content/Images/rightarrow.png" /></li>
            <li  onclick="addFilterDiv(this);">Vegtables<img src="~/Content/Images/rightarrow.png" /></li>
            <li  onclick="addFilterDiv(this);">Exotic Vegetables<img src="~/Content/Images/rightarrow.png" /></li>
         </ul> 
     </div>     
     <div class="div-TopDown"></div>
</div>