<div id="divLHSMenu" style="width:215px;">
    <ul id="lhsPanelBar">
        <li><img src="~/Content/Images/category.png" alt="" width="25" />
            Categories
            <ul>
                <li>
                   <div style="padding: 10px;width:719px;">
                        <h2>Around the Globe</h2>
                        <ol>
                            <li>United States</li>
                            <li>Europe</li>
                            <li>Canada</li>
                            <li>Australia</li>
                        </ol>
                   </div>
                </li>
            </ul>
        </li>
        <li><img src="~/Content/Images/brand.png" alt="" width="25" />Brands
            <ul>
                <li>
                   <div style="padding: 10px;width:719px;">
                        <h2>Around the Globe</h2>
                        <ol>
                            <li>United States</li>
                            <li>Europe</li>
                            <li>Canada</li>
                            <li>Australia</li>
                        </ol>
                   </div>
                </li>
            </ul>
        </li>
        <li><img src="~/Content/Images/fruits.png" alt="" width="25" />Exotic Fruits
            <ul>
                <li>
                   <div style="padding: 10px;width:719px;">
                        <h2>Around the Globe</h2>
                        <ol>
                            <li>United States</li>
                            <li>Europe</li>
                            <li>Canada</li>
                            <li>Australia</li>
                        </ol>
                   </div>
                </li>
            </ul>
        </li>
        <li><img src="~/Content/Images/vegetables.png" alt="" width="25" />Exotic Vegetables
            <ul>
                <li>
                   <div style="padding: 10px;width:719px;">
                        <h2>Around the Globe</h2>
                        <ol>
                            <li>United States</li>
                            <li>Europe</li>
                            <li>Canada</li>
                            <li>Australia</li>
                        </ol>
                   </div>
                </li>
            </ul>
        </li>
        <li><img src="~/Content/Images/stationary.png" alt="" width="25" />Stationary
            <ul>
                <li>
                   <div style="padding: 10px;width:719px;">
                        <h2>Around the Globe</h2>
                        <ol>
                            <li>United States</li>
                            <li>Europe</li>
                            <li>Canada</li>
                            <li>Australia</li>
                        </ol>
                   </div>
                </li>
            </ul>
        </li>
    </ul>
</div>