<div id="divLHSMenu" style="width:215px;">
    <ul id="lhsPanelBar">
        <li>Categories
            <ul>
                <li>A</li>
            </ul>
        </li>
        <li>Brands</li>
        <li>Exotic Fruits</li>
        <li>Exotic Vegetables</li>
        <li>Stationary</li>
    </ul>
</div>