<div id="divAllContents" style="width:215px;">
     <div class="div-TopUp"></div>     
     <div  style="background-color:white">
         <ul class="li-style" id="ulLHS" onclick="addFilterDiv();">             
            <li>Categories<img src="~/Content/Images/rightarrow.png" /></li>
            <li>Brand<img src="~/Content/Images/rightarrow.png" /></li>
            <li>Vegtables<img src="~/Content/Images/rightarrow.png" /></li>
            <li>Exotic Vegetables<img src="~/Content/Images/rightarrow.png" /></li>
         </ul> 
     </div>     
     <div class="div-TopDown"></div>
</div>