  <div id="divHeader1">
      <div id="divImage" class="cssHeader-Menu-font">
           @*<img src="~/Content/Images/Home.png" alt="Image"/>*@
            <span>Image</span>           
      </div>     
      <div id="divMyHome" class="cssHeader-Menu-font">
           @*<img src="~/Content/Images/Home.png" alt="Home" />*@
          <span>Home</span>         
      </div>     
      <div id="divDiscounts" class="cssHeader-Menu-font">
          @*<img src="~/Content/Images/Home.png" alt="Home" />*@
          <span>Discounts</span>         
      </div>     
      <div id="divMyAcct" class="cssHeader-Menu-font">
         @* <img src="~/Content/Images/Home.png" alt="Home" />*@
          <span>My Account</span>           
      </div>
      <div id="divLastPurchase" class="cssHeader-Menu-font">
         @* <img src="~/Content/Images/Home.png" alt="Home" />*@
          <span>Last Purchase</span>         
      </div>
      <div id="divTrackOrder" class="cssHeader-Menu-font">
          @* <img src="~/Content/Images/Register.png" alt="Track Your Order" />*@
           <span>Track Your Order</span>          
      </div>   
      <div id="divHelpSupport" class="cssHeader-Menu-font">
          @*<img src="~/Content/Images/Register.png" alt="Help & Support" />*@
          <span>Help & Support</span>         
      </div>    
      <div id="divSignIn" class="cssHeader-Menu-font">
          @*<img src="~/Content/Images/Register.png" alt="Sign In/Register" />*@
          <span>Sign In</span>         
      </div>       
      <div id="divRegister" class="cssHeader-Menu-font">
          @* <img src="~/Content/Images/Register.png" alt="Sign In/Register" />*@
          <span>Register</span>        
      </div>
  </div> 
