<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EazyWizyEntities1" connectionString="metadata=res://*/Entities.EazyWizy.csdl|res://*/Entities.EazyWizy.ssdl|res://*/Entities.EazyWizy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Abhishek-PC;initial catalog=EazyWizy;integrated security=True;multipleactiveresultsets=True;&quot;" providerName="System.Data.EntityClient" />
    <add name="EazyWizyEntities" connectionString="metadata=res://*/Entities.EazyWizy.csdl|res://*/Entities.EazyWizy.ssdl|res://*/Entities.EazyWizy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PUN-F1LPT-092\MSSQLSERVER12;initial catalog=EazyWizy;integrated security=True;multipleactiveresultsets=True;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>