<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EazyWizyEntities" connectionString="metadata=res://*/Entities.EazyWizy.csdl|res://*/Entities.EazyWizy.ssdl|res://*/Entities.EazyWizy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=OnlineGrocery;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>