@model EazyWizy.WebUI.Models.ContentModel
@{
   
}
<div class="top_block TopMenu">
    <div class="content">
        @Html.Partial("Menu/_PartialTopMenu")
    </div>
</div>
<div class="background LeftMenu">
</div>
<div class="left_block LeftMenu">
    <div class="content">
        @Html.Partial("Menu/_PartialLHSMenu", Model.lhsAllMenu)
    </div>
</div>
<div class="background RightMenu">
</div>
<div class="right_block RightMenu">
    <div class="content">
    </div>
</div>
<div class="background ProductDiv">
</div>
<div class="center_block ProductDiv">
    <div class="content">
          @Html.Partial("Menu/_ProductList", Model.lhsAllMenu)
    </div>
</div>
