IF EXISTS (SELECT 1 FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[GetChieldProductCategorys]') AND xtype in ('P'))
	DROP PROCEDURE [dbo].[GetChieldProductCategorys]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetChieldProductCategorys]   
		@parent_product_type_code char(15)
		

AS  
SET NOCOUNT ON    
 
SELECT 
	product_type_code,
	parent_product_type_code,
	product_type_description,
	productTypeImageName	
FROM
	[dbo].[Ref_Product_Types]
WHERE
	parent_product_type_code= @parent_product_type_code
GO
