<div>
    <div style="width:202px;background-color:white;height:300px;text-align:center;border-color:#D3D3D3;border-width:1px;border-style:solid">
        <div style="height:25px;font-family:Verdana;font-size:16px;border-color:#D3D3D3;border-width:0px 0px 1px 0px;border-style:solid">Ashirwad Atta (2 Kg)</div>
        <div style="height:25px;font-family:Verdana;font-size:16px;border-color:#D3D3D3;border-width:0px 0px 1px 0px;border-style:solid">285</div>
        <div style="height:170px;background-color:white;margin:2px;"> 
            <img src="~/Content/Images/ProductImages/AshirwadAtta.jpg" style="width:160px;" alt="" />
        </div>
        <div style="height:25px;font-family:Verdana;font-size:16px;border-color:#D3D3D3;border-width:1px 0px 1px 0px;border-style:solid">
            <span>-</span>
            <span>5</span>
            <span>+</span>
        </div>
        <div>Nutritioanal Info</div>
    </div>
</div>
