@using Kendo.Mvc.UI
@using Kendo.Mvc.Extensions
@{
    ViewBag.Title = "Admin Dashboard";  
}

@{Layout = "~/Views/Shared/_AdminLayout.cshtml";}
<script src="~/Scripts/js/adminDashboard.js"></script>
<!-- Fixed navbar -->


<div class="dashboard-box-admin">
    @(Html.Kendo().TabStrip()
          .Name("tabstrip-images")
          .Items(tabstrip =>
          {
              tabstrip.Add().Text("ToDo")
                .Content(Html.Action("Manage", "ManageCategory").ToString()).Selected(true);

              tabstrip.Add().Text("Manage Category")

                  .Content(@<text>
    Manage the Product category                  </text>);

              tabstrip.Add().Text("Manage Product")

                  .Content(@<text>
    Manage Products                  </text>);


          })
          .SelectedIndex(0)
    )


</div>

<div style="clear: both"></div>


