<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--<section name="IDataBaseRepository" type="Domain.Interfaces.IDataBaseRepository,Domain.Interfaces"/>
    <section name="DataBaseRepository" type="Data.Repository.DataBaseRepository,Data.Repository"/>-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">


    <alias alias="IDataBaseRepository" type="Domain.Interfaces.IDataBaseRepository, Domain" />
    <namespace name="Domain.Interfaces" />
    <assembly name="Domain" />

    <alias alias="EasyWizyRepository" type="Data.Repository.EasyWizyRepository, Data" />
    <namespace name="Data.Repository" />
    <assembly name="Data" />



    <container>
      <register type="IDataBaseRepository" mapTo="EasyWizyRepository" />
      <!-- type mapping -->
    </container>
  </unity>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="OnlineGroceryEntities" connectionString="metadata=res://*/EFData.GloceryModel.csdl|res://*/EFData.GloceryModel.ssdl|res://*/EFData.GloceryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PUN-F1LPT-092\MSSQLSERVER12;initial catalog=OnlineGrocery;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EazyWizyEntities" connectionString="metadata=res://*/EFData.EazyWizy.csdl|res://*/EFData.EazyWizy.ssdl|res://*/EFData.EazyWizy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IDEA-PC\SQLEXPRESS;initial catalog=EazyWizy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>