.specialdivlogin2 {
    position: relative;
}
.specialdivlogin2 .ddlogin {
	width:364px;
	height:320px;
	position:absolute;
	left: 312px;
	top: 0;
	background:url(../images/ddlogin.png) center 38px no-repeat;
	z-index: 18;
	display:none;
}
.hexeg {
	width: 111px;
	height:63px;
	position:absolute;
	left: 38px;
	top: 57px;
}
.hexeg0 {
	width: 111px;
	height:63px;
	left: 240px;
    position: absolute;
    top: 59px;
}
.carousel-indicators>div.hexeg0>div {
	color:#011E28 !important;
}
.hexeg2 {
	width: 111px;
	height:63px;
	position:absolute;
	left: 140px;
	top:0;
}
.hexeg3 {
	width: 111px;
	height:63px;
	position:absolute;
	left: 138px;
	top: 117px;
}
.hexeg4 {
	width: 111px;
	height:63px;
	position:absolute;
	right: 87px;
	top: -2px;
}
.hexeg5 {
	width: 111px;
	height:63px;
	position:absolute;
	right: 86px;
	top: 116px;
}
.hexeg6 {
	width: 111px;
	height:63px;
	position:absolute;
	right:-15px;
	top:56px;
}
.hexeg7 {
	width: 111px;
	height:63px;
	position:absolute;
	 right: -117px;
    top: 112px;
}
.hexeg8 {
	width: 111px;
	height:63px;
	position:absolute;
	left: -64px;
	top:116px;
}
.box-9 {
	width: 111px;
	height: 63px;
	display:block;
	/* Rotate div */
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
}
.box-9a {
	width: 111px;
	height: 63px;
	display:block;
	/* Rotate div */
	transform:rotate(60deg);
	-ms-transform:rotate(60deg); /* IE 9 */
	-webkit-transform:rotate(60deg); /* Safari and Chrome */
}
.box-9b {
	width: 111px;
	height: 63px;
	display:block;
	/* Rotate div */
	transform:rotate(240deg);
	-ms-transform:rotate(240deg); /* IE 9 */
	-webkit-transform:rotate(240deg); /* Safari and Chrome */
}
/* This Css is for main section, please don`t override it*/
.hexeg10 {
	position: absolute;
    left: 53px;
    top: -3px;
}
.box-10 {
	width: 255px;
    height: 145px;
    display: block;
    cursor: pointer;
	/* Rotate div */
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
}
.box-10a {
	width: 253px;
    height: 148px;
    display: block;
	/* Rotate div */
	transform:rotate(60deg);
	-ms-transform:rotate(60deg); /* IE 9 */
	-webkit-transform:rotate(60deg); /* Safari and Chrome */
}
.box-10b {
	width: 253px;
    height: 145px;
	display:block;
	/* Rotate div */
	transform:rotate(240deg);
	-ms-transform:rotate(240deg); /* IE 9 */
	-webkit-transform:rotate(240deg); /* Safari and Chrome */
}
/* Main section end here*/

/* Optional shadow */
/*.dd77 { background-image:url(../images/dd.png) !important; background-color:none !important;width: 222px !important;
height: 210px !important;
position: absolute;
left: -55px;
top: -71px;
z-index:1;
display:none;}
div#centerKey:hover .dd77 {display:block;}*/
/* Optional shadow */
.hexeg .box-9, .hexeg .box-9a, .hexeg .box-9b {
	background-color: #FFF;
}
.hexeg0 .box-9, .hexeg0 .box-9a, .hexeg0 .box-9b {
	background-color: #FFF;
}
.hexeg2 .box-9, .hexeg2 .box-9a, .hexeg2 .box-9b {
	background-color: #FFF;
}

.hexeg3 .box-9, .hexeg3 .box-9a, .hexeg3 .box-9b {
	background-color: #FFF;
}
.hexeg4 .box-9, .hexeg4 .box-9a, .hexeg4 .box-9b {
	background-color: #FFF;
}
.hexeg5 .box-9, .hexeg5 .box-9a, .hexeg5 .box-9b {
	background-color: #FFF;
}
.hexeg6 .box-9, .hexeg6 .box-9a, .hexeg6 .box-9b {
	background-color: #FFF;
}
.hexeg7 .box-9, .hexeg7 .box-9a, .hexeg7 .box-9b {
	background-color: #FFF;
}
.hexeg8 .box-9, .hexeg8 .box-9a, .hexeg8 .box-9b {
	background-color: #FFF;
}
.hexeg10 .box-10, .hexeg10 .box-10a, .hexeg10 .box-10b {
	background-color: #FFF;
}
.loginname {
    font-size: 29px;
    left: 16px;
    position: absolute;
    top: -8px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    width: 73px;
    z-index: 10;
    cursor:pointer;
    font-weight:bold;
}
.loginname:hover {
    color:#AB2317;
}
.carousel-caption, .carousel-caption>p {
width: 100%;
}

.slideshow {
	position: relative;
	/* necessary to absolutely position the images inside */
    width: 500px;
	/* same as the images inside */
    height: 100px;
}
.slideshow p {
	position: absolute;
	display: none;
}
.slideshow p:first-child {
	display: block;/* overrides the previous style */
}
/* bootstrap Carousel */
.carousel-indicators {
	top: -130px;
	bottom:0;
}
.carousel-indicators .active {
	width: 111px;
	height:63px;
	background: none !important;
}
.carousel-indicators div {
	width: 111px;
	height:63px;
	border:none;
}
.carousel-indicators li .box-9 {
	margin-top:30px;
}
.carousel-indicators>div>div {
	background-color: #FFF;
	color:#ab2317
}
.carousel-indicators .active div {
	background-color: #ab2317;
	color:#fff;
}
.carousel-indicators i {
	cursor:pointer;
}
.carousel-inner {
	height: 142px;
    margin: 68px 0 0 -80px;
    overflow: hidden;
    position: relative;
    width: 696px;
}
#myCarowrapper {
	position:relative;
    top: 37px;
    display: block;
    left: 6px;
}
#myCarowrapper .buttonrg {
	bottom: -11px;
	height: 105px;
	left: 98px;
	position: absolute;
	width: 777px;
}
.carousel-inner > .item {
	display: none;
}
.carousel-control.left {
	background:url(../images/bl-arrow.png) 0 0 no-repeat;
	width:28px;
	height:104px;
	float: left;
}
.carousel-control.right {
	background:url(../images/bl-arrow.png) -34px 0 no-repeat;
	width:28px;
	height:104px;
	float:right
}
#myCarousel {
	margin: 200px auto 0;
	width: 538px;
}
.carousel-caption p {
	color: #011E28;
	font-size: 17px;
	line-height:18px;
	padding: 0;
	text-shadow: none;
	width: 100%;
    padding-top:25px;
}
.carousel-control {
	font-size: 12px;
	opacity: 1;
	filter: alpha(opacity=50);
}
/* bootstrap css */
.carousel-caption {
	top: 5px;
	color: #FFFFFF;
	position: absolute;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    width:100%;
}
.container:after {
	clear: both;
}
.container:before, .container:after {
	content: " ";
	display: table;
}
.carousel-inner > .active {
	left: 0;
}
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
	display: block;
}
.carousel-inner > .item {
	position: relative;
	transition: left 0.6s ease-in-out 0s;
}
.carousel-indicators {
	list-style: none outside none;
	margin-left: -30%;
	padding-left: 0;
	text-align: center;
	z-index: 15;
}
.carousel-control .icon-prev,  .carousel-control .icon-next {
	width: 30px;
	height: 30px;
	margin-top: -15px;
	margin-left: -15px;
	font-size: 30px;
}
.carousel-indicators {
	bottom: 20px;
}
.titleHd {
	color: #0E68A5;
	font-size: 22px;
	font-weight: bold;
	padding: 0 0 7px 0;
}
.fontIcons {
	left: 24px;
	position: absolute;
	top: 1px;
	text-align: center;
	width: 56px;
	z-index: 9;
	background: none repeat scroll 0% 0% transparent;
	transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: relative;
	z-index: 15;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel .item {
	height: 143px;
}
.carousel-inner > .item > p {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
	padding-left: 15px;
	padding-right: 15px;
}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	text-align: center;
	margin-bottom: 20px;
}
.marketing h2 {
	font-weight: normal;
}
.marketing .col-lg-4 p {
	margin-left: 10px;
	margin-right: 10px;
}
/* Featurettes
------------------------- */

.featurette-divider {
	margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
 padding-left: 0;
 padding-right: 0;
}

  /* Navbar positioning foo */
  .navbar-wrapper {
 margin-top: 20px;
}
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
 border-radius: 4px;
}

  /* Bump up size of carousel content */
  .carousel-caption p {
 margin-bottom: 20px;
 font-size: 16px;
 line-height:18px;
}
 .featurette-heading {
 font-size: 50px;
}
}
 @media (min-width: 992px) {
 .featurette-heading {
 margin-top: 120px;
}
}
