<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>-->
  <appSettings>
    <!--<add key="EazyWizyFrameworkLogging_UsePTConfigDatabase" value="true" />
    <add key="EazyWizyFrameworkLogging_LogLevel" value="Debug" />-->
    <add key="EazyWizyFrameworkLogging_AppName" value="LoggingUnitTests"/>
    <add key="EventLogLevel" value="Debug"/>

  </appSettings>
  <connectionStrings>
    <add name="EventLog" connectionString="Data Source=(local);Initial Catalog=EventLog;Integrated Security=SSPI"/>
  </connectionStrings>
  <!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogToConsole="true" internalLogToConsoleError="true" internalLogFile="D:\internalLog.txt" internalLogLevel="Error" throwExceptions="false">
    --><!--<targets>
      <target name="file" xsi:type="File" fileName=".\log.txt" layout="${longdate}|${machinename}|${processname}|${windows-identity}|${identity}|${level:uppercase=true}|${logger}|${message}|${stacktrace}" />
    </targets>--><!--

    --><!--<rules>
      <logger name="*" minlevel="Error" writeTo="file" />
    </rules>--><!--
  </nlog>
  <system.diagnostics>
    <sources>
      <source name="EazyWizy.Framework.Logging" switchName="EazyWizy.Framework.Logging.Switch" switchType="System.Diagnostics.SourceSwitch"></source>
    </sources>
    <switches>
      --><!-- You can set the level at which tracing is to occur --><!--
      <add name="EazyWizy.Framework.Logging.Switch" value="Verbose" />
      --><!-- You can turn tracing off --><!--
      --><!--add name="SourceSwitch" value="Off" --><!--
    </switches>
    <trace autoflush="true" indentsize="4">
      --><!--<listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="d:\FrameworkLogging.log" />
      </listeners>--><!--
    </trace>
  </system.diagnostics>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>

  </configSections>

  <appSettings>
    <add key="EazyWizyFrameworkLogging_UsePTConfigDatabase" value="false" />
    <add key="EazyWizyFrameworkLogging_LogLevel" value="Debug" />
    <add key="EazyWizyFrameworkLogging_AppName" value="LoggingUnitTests" />
    <add key="UsePTConfig" value="false" />
  </appSettings>

  <connectionStrings>
    <add name="Service_Dflt" providerName="System.Data.SqlClient" connectionString="server=(local);database=Northwind;Integrated Security=true"/>
    <add name="EasyWizy" providerName="System.Data.SqlClient" connectionString="Data Source=GAURAV-PC;Initial Catalog=EventLog;Integrated Security=True"/>
    <add name="EventLog" providerName="System.Data.SqlClient" connectionString="Data Source=GAURAV-PC;Initial Catalog=EventLog;Integrated Security=True"/>
  </connectionStrings>

  <dataConfiguration defaultDatabase="EazyWizy">
  </dataConfiguration>

  <unity>
    <typeAliases>
      -->
<!-- Lifetime manager types -->
<!--
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
      <typeAlias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity"/>
      <typeAlias alias="IConfigManager" type="EazyWizy.Framework.Configuration.IConfigManager, EazyWizy.Framework, Version=1.0.0.0, Culture=neutral"/>
      <typeAlias alias="ConfigManager" type="EazyWizy.Framework.Configuration.ConfigManager, EazyWizy.Framework, Version=1.6.0.0, Culture=neutral, PublicKeyToken=11b6d370641721ed"/>
    </typeAliases>
    <containers>
      <container>
        <types>
          <type type="IConfigManager" mapTo="ConfigManager">
            <lifetime type="singleton"/>
          </type>
        </types>
      </container>
    </containers>
  </unity>



  <loggingConfiguration tracingEnabled="true" defaultCategory="FormattedCategory">
    <logFilters>
      <add name="Category" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging" categoryFilterMode="AllowAllExceptDenied">
        <categoryFilters>
          <add name="MyDeniedCategory"/>
          <add name="MyDeniedCategory2"/>
          <add name="MyDeniedCategory3"/>
          <add name="bad operation"/>
        </categoryFilters>
      </add>
      <add name="Priority" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging" minimumPriority="5"/>
    </logFilters>

    <categorySources>
      <add name="FormattedCategory" switchValue="All">
        <listeners>
          <add name="SimpleTextFormatDatabase"/>
        </listeners>
      </add>
      <add name="DictionaryCategory" switchValue="All">
        <listeners>
          <add name="DictionaryFormatDatabase"/>
        </listeners>
      </add>
    </categorySources>

    <specialSources>
      <errors name="errors" switchValue="All"/>
    </specialSources>

    <listeners>
      <add name="SimpleTextFormatDatabase" type="EazyWizy.Framework.Logging.EnterpriseLibrary.FormatterDatabaseTraceListener, EazyWizy.Framework.Logging.EnterpriseLibrary" listenerDataType="EazyWizy.Framework.Logging.EnterpriseLibrary.Configuration.FormatterDatabaseTraceListenerData, EazyWizy.Framework.Logging.EnterpriseLibrary" databaseInstanceName="EazyWizy"/>
      <add name="DictionaryFormatDatabase" type="EazyWizy.Framework.Logging.EnterpriseLibrary.FormatterDatabaseTraceListener, EazyWizy.Framework.Logging.EnterpriseLibrary" listenerDataType="EazyWizy.Framework.Logging.EnterpriseLibrary.Configuration.FormatterDatabaseTraceListenerData, EazyWizy.Framework.Logging.EnterpriseLibrary" databaseInstanceName="EazyWizy"/>
    </listeners>
  </loggingConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.diagnostics>
     <switches>
       <add name="Syncada.Framework.Configuration.ConfigManager" value="Verbose" />
    
    </switches>
    
  </system.diagnostics>
</configuration>-->
