@{
    ViewBag.Title = "Advantexe VLE | Not Found";
}

<div class="container">

    <div>&nbsp</div>
    <div class="errorContainer">        
            <h2>Requested Page "@Model.RequestedUrl" was Not found</h2>       
    </div>
</div>
