.ew-hover {
    background-color:#ccc6c2;
}

.ew-lhs-image {
    width:25px;
    vertical-align:middle;
}

.ew-lhs-ul, .ew-lhs-submenu-ul {
    list-style:none;
    padding-left:0px;  
    margin:0px;
}

.ew-lhs-li, .ew-lhs-sub-li {
    cursor:pointer;
    padding:0px 0px 0px 5px;
    line-height:35px;
    vertical-align:middle;
}

.ew-lhs-ul-span {
    list-style:none;
    margin:5px;
    padding-left:0px;
}

.ew-lhs-right-arrow {
    float:right;
    margin-top:9px;
}

.ew-lhs-li-font {
   font-family: "Segoe UI",Verdana,Helvetica,Sans-Serif;
}

.ew-lhs-div-border {
    border-width:1px;
    border-style:solid;
    background-color:#ececec;
    border-color:#c5c5c5;
}

.ew-lhs-subdiv {
    cursor:default;
    background-color:#FEFCFF;
    border-width:1px;
    border-style:solid;
    border-color:#c5c5c5;
    position:absolute;
    display:none;

    max-height:400px;
    -moz-columns: 3 150px;
    -webkit-columns: 3 150px;
    columns: 3 150px;
    max-width:571px;
}

.disp-inlineb {
    display:inline-block;
}

.ew-div-filters {
    display:inline-block;
    width:inherit;
    margin-top:2px;
}

.ew-lhs-filterimage {
    width:17px;
    margin-left:2px;
    vertical-align:middle;
}

.ew-span-filter {
    margin-right:5px;
    cursor:pointer;    
    margin-top:-2px;
}

.ew-lhs-div-brand-filter { 
    width:202px;
}

.div-lhs-filter {
    margin-top:5px;
}

.ui-helper-reset {
    border-radius:0px !important;
}

.ui-accordion-content {
    height:50px !important;
    overflow:auto !important;
}
.ui-accordion-header {
    margin-top:-1px !important;
}